# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
import configparser
import os
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, split

In [2]:
config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID'] = config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY'] = config['AWS']['AWS_SECRET_ACCESS_KEY']

output_data = config['S3']['S3_BUCKET']

In [3]:
spark = SparkSession.builder \
    .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
    .enableHiveSupport() \
    .getOrCreate()
spark._jsc.hadoopConfiguration().set("mapreduce.fileoutputcommitter.algorithm.version", "2")

### Step 1: Scope the Project and Gather Data

#### Scope 
In this project, we will use the I94 Immigration Data and the Airport Code Table to create data that merges both pieces of information. This data can, for example, tell us the name of the airport the immigrant came from. I will use Pyspark to accomplish this process.

#### Describe and Gather Data 
- I94 Immigration Data: This data comes from the US National Tourism and Trade Office. A data dictionary is included in the workspace. This is where the data comes from. There's a sample file so you can take a look at the data in csv format before reading it all in. You do not have to use the entire dataset, just use what you need to accomplish the goal you set at the beginning of the project.

- Airport Code Table: This is a simple table of airport codes and corresponding cities. It comes from here.

##### I94 Immigration Data

In [4]:
df_immigration = spark.read.load('./sas_data')
df_immigration.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [5]:
df_immigration.limit(5).toPandas().head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,5748517.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,CA,20582.0,...,None,M,1976.0,10292016,F,None,QF,9.495387e+10,00011,B1
1,5748518.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,NV,20591.0,...,None,M,1984.0,10292016,F,None,VA,9.495562e+10,00007,B1
2,5748519.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20582.0,...,None,M,1987.0,10292016,M,None,DL,9.495641e+10,00040,B1
3,5748520.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20588.0,...,None,M,1987.0,10292016,F,None,DL,9.495645e+10,00040,B1
4,5748521.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20588.0,...,None,M,1988.0,10292016,M,None,DL,9.495639e+10,00040,B1

In [6]:
df_immigration.show()

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|5748517.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     CA|20582.0|  40.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1|
|5748518.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     NV|20591.0|  32.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1|
|5748519.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20582.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     M|  null|     DL|9.495640653E10|00040|      B1|
|5748520.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     F|  null|     DL|9.495645143E10|00040|      B1|
|5748521.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  28.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1988.0|10292016|     M|  null|     DL|9.495638813E10|00040|      B1|
|5748522.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20579.0|  57.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1959.0|10292016|     M|  null|     NZ|9.498180283E10|00010|      B2|
|5748523.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  66.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1950.0|10292016|     F|  null|     NZ|9.497968993E10|00010|      B2|
|5748524.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  41.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1975.0|10292016|     F|  null|     NZ|9.497974673E10|00010|      B2|
|5748525.0|2016.0|   4.0| 245.0| 464.0|    HOU|20574.0|    1.0|     FL|20581.0|  27.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1989.0|10292016|     M|  null|     NZ|9.497324663E10|00028|      B2|
|5748526.0|2016.0|   4.0| 245.0| 464.0|    LOS|20574.0|    1.0|     CA|20581.0|  26.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1990.0|10292016|     F|  null|     NZ|9.501354793E10|00002|      B2|
|5748527.0|2016.0|   4.0| 245.0| 504.0|    NEW|20574.0|    1.0|     MA|20576.0|  44.0|    2.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1972.0|10292016|     M|  null|     UA|9.493828593E10|01215|      B2|
|5748528.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|   null|20575.0|  39.0|    2.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1977.0|10292016|     M|  null|     CM|9.501810463E10|00472|      B2|
|5748529.0|2016.0|   4.0| 245.0| 504.0|    WAS|20574.0|    1.0|     VA|20596.0|  38.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1978.0|10292016|     M|  null|     CM|9.492489983E10|00488|      B2|
|5748530.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|     CA|20577.0|  56.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1960.0|10292016|     F|  null|     CM|9.492648103E10|00302|      B2|
|5748531.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|     CA|20577.0|  38.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1978.0|10282016|     M|  null|     CM|9.492629303E10|00302|      B2|
|5748532.0|2016.0|   4.0| 245.0| 504.0|    MIA|20574.0|    1.0|     FL|20581.0|  53.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1963.0|10292016|     F|  null|     CM|9.500640513E10|00430|      B2|
|5748534.0|2016.0|   4.0| 245.0| 528.0|    SFR|20574.0|    1.0|     CA|   null|  84.0|    2.0|  1.0|20160430|     HNK| null|      G|   null|   null|   null| 1932.0|10282016|     F|  null|     CX|9.492476223E10|00872|      B2|
|5748876.0|2016.0|   4.0| 245.0| 582.0|    HOU|20574.0|    1.0|     TX|20583.0|  43.0|    1.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1973.0|10292016|     M|  null|     UA|9.499463063E10|05574|      B1|
|5748877.0|2016.0|   4.0| 245.0| 582.0|    HOU|20574.0|    1.0|     TX|20583.0|  30.0|    1.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1986.0|10292016|     F|  null|     UA|9.499447663E10|05574|      B1|
|5748881.0|2016.0|   4.0| 245.0| 582.0|    LOS|20574.0|    1.0|     CA|20575.0|  34.0|    2.0|  1.0|20160430|     SHG| null|      G|      O|   null|      M| 1982.0|10292016|     M|  null|     AM|9.496770903E10|00646|      B2|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 20 rows

In [7]:
df_immigration.count()

3096313

##### Airport Code Table

In [8]:
df_airport = spark.read.csv('airport-codes_csv.csv', header=True)
df_airport.printSchema()

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

In [9]:
df_airport.limit(5).toPandas().head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11,NA,US,US-PA,Bensalem,00A,None,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435,NA,US,US-KS,Leoti,00AA,None,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450,NA,US,US-AK,Anchor Point,00AK,None,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820,NA,US,US-AL,Harvest,00AL,None,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237,NA,US,US-AR,Newport,None,None,None,"-91.254898, 35.6087"

In [10]:
df_airport.count()

55075

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

##### I94 Immigration Data

Check that there are no null values in the key items to be merged with the Airport Code Table, and check the contents of the code.

In [11]:
df_immigration.filter(df_immigration['i94port'].isNull()).count()

0

In [12]:
df_immigration.select(df_immigration['i94port']).drop_duplicates().toPandas()

    i94port
0       FMY
1       BGM
2       HEL
3       DNS
4       MOR
5       FOK
6       HVR
7       SNA
8       PTK
9       CLG
10      SPM
11      OPF
12      DLB
13      ABS
14      NAS
15      MYR
16      PVD
17      OAK
18      FAR
19      OTT
20      PBB
21      WAR
22      CRY
23      NRN
24      DET
25      FRT
26      NOO
27      REN
28      BEE
29      AGN
..      ...
269     EPI
270     BEL
271     ONT
272     JKM
273     FWA
274     MDT
275     SNJ
276     BLA
277     ANZ
278     ROC
279     CHI
280     PRE
281     W55
282     LEW
283     FPR
284     BAU
285     FER
286     DAB
287     ANC
288     OGG
289     5T6
290     BEB
291     ORL
292     SLC
293     SHR
294     NYC
295     STT
296     MND
297     SAI
298     MIL

[299 rows x 1 columns]

##### Airport Code Table

Check that there are no null values in the key items to be merged with the Airport Code Table, and check the contents of the code.
Delete the data with null values.

In [13]:
df_airport_cleaned = df_airport.filter(df_airport["iso_country"]=="US")
df_airport_cleaned.count()

22757

In [14]:
df_airport_cleaned.filter(df_airport_cleaned["iata_code"].isNull()).count()

20738

In [15]:
df_airport_cleaned = df_airport_cleaned.filter(df_airport_cleaned["iata_code"].isNotNull())
df_airport_cleaned.count()

2019

In [16]:
df_airport_cleaned.drop_duplicates(['iata_code']).count()

2014

In [17]:
df_airport_cleaned = df_airport_cleaned.drop_duplicates(['iata_code'])
df_airport_cleaned.count()

2014

In [18]:
df_airport_cleaned.toPandas()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,KBGM,medium_airport,Greater Binghamton/Edwin A Link field,1636,NA,US,US-NY,Binghamton,KBGM,BGM,BGM,"-75.97979736, 42.20869827"
1,2TE0,small_airport,Eagle Air Park,15,NA,US,US-TX,Brazoria,2TE0,BZT,2TE0,"-95.579696655273, 28.982200622559"
2,KCNU,medium_airport,Chanute Martin Johnson Airport,1002,NA,US,US-KS,Chanute,KCNU,CNU,CNU,"-95.4850997925, 37.668800354"
3,KCRS,small_airport,C David Campbell Field Corsicana Municipal Air...,449,NA,US,US-TX,Corsicana,KCRS,CRS,CRS,"-96.4005966187, 32.0280990601"
4,KFMY,medium_airport,Page Field,17,NA,US,US-FL,Fort Myers,KFMY,FMY,FMY,"-81.86329650879999, 26.58659935"
5,HYL,seaplane_base,Hollis Clark Bay Seaplane Base,0,NA,US,US-AK,Hollis,HYL,HYL,HYL,"-132.645996094, 55.4816017151"
6,KEB,small_airport,Nanwalek Airport,27,NA,US,US-AK,Nanwalek,KEB,KEB,KEB,"-151.925003052, 59.3521003723"
7,KLEB,medium_airport,Lebanon Municipal Airport,603,NA,US,US-NH,Lebanon,KLEB,LEB,LEB,"-72.30419921880001, 43.626098632799994"
8,KOXC,small_airport,Waterbury Oxford Airport,726,NA,US,US-CT,Oxford,KOXC,OXC,OXC,"-73.135200500488, 41.47859954834"
9,KRKP,small_airport,Aransas County Airport,24,NA,US,US-TX,Rockport,KRKP,RKP,RKP,"-97.0446014404, 28.0867996216"
10,KSGT,small_airport,Stuttgart Municipal Airport / Carl Humphrey Field,224,NA,US,US-AR,Stuttgart,KSGT,SGT,SGT,"-91.574997, 34.599499"
11,SKJ,closed,Sitkinak Airport,65,NA,US,US-AK,Sitkinak Island,None,SKJ,SKJ,"-154.1412, 56.5378"
12,KTNP,small_airport,Twentynine Palms Airport,1888,NA,US,US-CA,Twentynine Palms,KTNP,TNP,TNP,"-115.9459991, 34.13159943"
13,KAIV,small_airport,George Downer Airport,150,NA,US,US-AL,Aliceville,KAIV,AIV,AIV,"-88.1978, 33.106499"
14,KAVX,small_airport,Catalina Airport,1602,NA,US,US-CA,Avalon,KAVX,AVX,AVX,"-118.416, 33.4049"
15,PADL,medium_airport,Dillingham Airport,81,NA,US,US-AK,Dillingham,PADL,DLG,DLG,"-158.5050049, 59.04470062"
16,KDNS,small_airport,Denison Municipal Airport,1274,NA,US,US-IA,Denison,KDNS,DNS,DNS,"-95.38069916, 41.9864006"
17,PFEL,small_airport,Elim Airport,162,NA,US,US-AK,Elim,PFEL,ELI,ELI,"-162.2720032, 64.61470032"
18,KFCY,small_airport,Forrest City Municipal Airport,249,NA,US,US-AR,Forrest City,KFCY,FCY,FCY,"-90.7750015259, 34.942001342800005"
19,AZ15,heliport,Lava Falls Heliport,1720,NA,US,US-AZ,Supai Village,AZ15,HAE,AZ15,"-113.092002869, 36.191600799599996"
20,KIML,small_airport,Imperial Municipal Airport,3275,NA,US,US-NE,Imperial,KIML,IML,IML,"-101.6210022, 40.50930023"
21,KINL,medium_airport,Falls International Airport,1185,NA,US,US-MN,International Falls,KINL,INL,INL,"-93.4030990600586, 48.566200256347656"
22,KOLF,medium_airport,L M Clayton Airport,1986,NA,US,US-MT,Wolf Point,KOLF,OLF,OLF,"-105.574996948, 48.094501495399996"
23,TYE,small_airport,Tyonek Airport,110,NA,US,US-AK,Tyonek,TYE,TYE,TYE,"-151.13800048828, 61.076698303223"
24,BNF,seaplane_base,Baranof Warm Springs Float and Seaplane Base,0,NA,US,US-AK,Baranof,None,BNF,BNF,"-134.833146, 57.088799"
25,PAFR,heliport,Bryant Army Heliport,378,NA,US,US-AK,Fort Richardson(Anchorage),PAFR,FRN,FRN,"-149.6529999, 61.26639938"
26,KMSY,large_airport,Louis Armstrong New Orleans International Airport,4,NA,US,US-LA,New Orleans,KMSY,MSY,MSY,"-90.25800323486328, 29.99340057373047"
27,KONO,small_airport,Ontario Municipal Airport,2193,NA,US,US-OR,Ontario,KONO,ONO,ONO,"-117.01399993896, 44.020500183105"
28,KRDG,medium_airport,Reading Regional Carl A Spaatz Field,344,NA,US,US-PA,Reading,KRDG,RDG,RDG,"-75.96520233154297, 40.378501892089844"
29,KRHV,small_airport,Reid-Hillview Airport of Santa Clara County,135,NA,US,US-CA,San Jose,KRHV,RHV,RHV,"-121.819000244, 37.332901001"
...,...,...,...,...,...,...,...,...,...,...,...,...
1984,KRPX,small_airport,Roundup Airport,3500,NA,US,US-MT,Roundup,KRPX,RPX,RPX,"-108.541497, 46.475095"
1985,KRQO,small_airport,El Reno Regional Airport,1420,NA,US,US-OK,El Reno,KRQO,RQO,RQO,"-98.00579834, 35.47269821"
1986,KSAT,large_airport,San Antonio International Airport,809,NA,US,US-TX,San Antonio,KSAT,SAT,SAT,"-98.46980285644531, 29.533700942993164"
1987,KSHR,medium_airport,Sheridan County Airport,4021,NA,US,US-WY,Sheridan,KSHR,SHR,SHR,"-106.9800033569336, 44.76919937133789"
1988,KSLC,large_airport,Salt Lake City International Airport,4227,NA,US,US-UT,Salt Lake City,KSLC,SLC,SLC,"-111.97799682617188, 40.78839874267578"
1989,KEUF,small_airport,Weedon Field,285,NA,US,US-AL,Eufaula,KEUF,EUF,EUF,"-85.1288986206, 31.9512996674"
1990,KHBR,medium_airport,Hobart Regional Airport,1563,NA,US,US-OK,Hobart,KHBR,HBR,HBR,"-99.051313, 34.991317"
1991,KBE,seaplane_base,Bell Island Hot Springs Seaplane Base,None,NA,US,US-AK,Bell Island,KBE,KBE,KBE,"-131.572006226, 55.9291000366"
1992,KMLC,medium_airport,Mc Alester Regional Airport,770,NA,US,US-OK,Mc Alester,KMLC,MLC,MLC,"-95.783501, 34.882401"
1993,KMTO,small_airport,Coles County Memorial Airport,722,NA,US,US-IL,Mattoon/Charleston,KMTO,MTO,MTO,"-88.279198, 39.477901"
1994,KPSN,small_airport,Palestine Municipal Airport,423,NA,US,US-TX,Palestine,KPSN,PSN,PSN,"-95.706298828125, 31.779699325562"
1995,KSFZ,small_airport,North Central State Airport,441,NA,US,US-RI,Pawtucket,KSFZ,SFZ,SFZ,"-71.49140167239999, 41.9207992554"
1996,KSKY,closed,Griffing Sandusky Airport,580,NA,US,US-OH,Sandusky,KSKY,SKY,SKY,"-82.6522979736, 41.4333992004"
1997,KTCL,medium_airport,Tuscaloosa Regional Airport,170,NA,US,US-AL,Tuscaloosa,KTCL,TCL,TCL,"-87.611396789551, 33.220600128174"
1998,KTOA,small_airport,Zamperini Field,103,NA,US,US-CA,Torrance,KTOA,TOA,TOA,"-118.33999633789, 33.803398132324"
1999,PAFM,medium_airport,Ambler Airport,334,NA,US,US-AK,Ambler,PAFM,ABL,AFM,"-157.856989, 67.1063"
2000,ARX,closed,Asbury Park Neptune Air Terminal,95,NA,US,US-NJ,Asbury Park,None,ARX,None,"-74.0908333333, 40.2193055556"
2001,KASE,medium_airport,Aspen-Pitkin Co/Sardy Field,7820,NA,US,US-CO,Aspen,KASE,ASE,ASE,"-106.8690033, 39.22320175"
2002,KCRQ,medium_airport,Mc Clellan-Palomar Airport,331,NA,US,US-CA,Carlsbad,KCRQ,CLD,CRQ,"-117.2799988, 33.12829971"
2003,KCLR,small_airport,Cliff Hatfield Memorial Airport,-182,NA,US,US-CA,Calipatria,KCLR,CLR,CLR,"-115.521003723, 33.131500244099996"
2004,KCPS,small_airport,St Louis Downtown Airport,413,NA,US,US-IL,Cahokia/St Louis,KCPS,CPS,CPS,"-90.1561965942, 38.570701599100005"
2005,KFCS,medium_airport,Butts AAF (Fort Carson) Air Field,5838,NA,US,US-CO,Fort Carson,KFCS,FCS,FCS,"-104.7570038, 38.67839813"
2006,KFLP,small_airport,Marion County Regional Airport,719,NA,US,US-AR,Flippin,KFLP,FLP,FLP,"-92.59030151, 36.29090118"
2007,KHKY,medium_airport,Hickory Regional Airport,1190,NA,US,US-NC,Hickory,KHKY,HKY,HKY,"-81.38950348, 35.74110031"
2008,KLEE,medium_airport,Leesburg International Airport,76,NA,US,US-FL,Leesburg,KLEE,LEE,LEE,"-81.80870056, 28.82309914"
2009,KRAP,medium_airport,Rapid City Regional Airport,3204,NA,US,US-SD,Rapid City,KRAP,RAP,RAP,"-103.05699920654297, 44.0452995300293"
2010,KSBP,medium_airport,San Luis County Regional Airport,212,NA,US,US-CA,San Luis Obispo,KSBP,SBP,SBP,"-120.641998291, 35.236801147499996"
2011,PASH,medium_airport,Shishmaref Airport,12,NA,US,US-AK,Shishmaref,PASH,SHH,SHH,"-166.089112, 66.249604"
2012,KSUS,large_airport,Spirit of St Louis Airport,463,NA,US,US-MO,St Louis,KSUS,SUS,SUS,"-90.652000427246, 38.662101745605"
2013,KUKT,small_airport,Quakertown Airport,526,NA,US,US-PA,Quakertown,KUKT,UKT,UKT,"-75.381896972656, 40.435199737549"

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
I94 Immigration Data

Select only meaningful items from the original data.
Also, date items are converted from Julian to Gregorian calendar.

- i94yr
- i94mon
- i94port
- arrdate
- i94addr
- depdate
- i94bir
- i94visa
- biryear
- gender
- airline
- admnum
- fltno
- visatype

Airport Code Table

Split coordinates into latitude and longitude.

- cicid
- ident
- type
- name
- elevation_ft
- continent
- iso_country
- iso_region
- municipality
- gps_code
- iata_code
- local_code
- latitude
- longitude

#### 3.2 Mapping Out Data Pipelines

I94 Immigration Data

- Add items that converts arrdate and depdate to Gregorian calender.
- Extract selected items.

Airport Code Table

- Add the latitude and longitude where the coordinates are divided.
- Extract selected items.

##### I94 Immigration Data

In [19]:
from datetime import datetime
from datetime import timedelta
from pyspark.sql.functions import udf
from pyspark.sql.types import DateType

def convert_datetime(num_days):
    try:
        start = datetime(1960, 1, 1)
        return start + timedelta(days=int(num_days))
    except:
        return None
    
udf_datetime_from_sas = udf(lambda x: convert_datetime(x), DateType())
df_immigration_new = df_immigration \
    .withColumn("arrival_date", udf_datetime_from_sas("arrdate")) \
    .withColumn("departure_date", udf_datetime_from_sas("depdate"))

In [20]:
immigration_table = df_immigration_new.select(
    col("cicid").cast("int"),
    col("i94yr").cast("int"),
    col("i94mon").cast("int"),
    col("i94port"),
    col("arrival_date").alias("arrdate"),
    col("i94addr"),
    col("departure_date").alias("depdate"),
    col("i94bir").cast("int"),
    col("i94visa").cast("int"),
    col("biryear").cast("int"),
    col("gender"),
    col("airline"),
    col("admnum").cast("int"),
    col("fltno"),
    col("visatype")
)
immigration_table.limit(5).toPandas().head()

,cicid,i94yr,i94mon,i94port,arrdate,i94addr,depdate,i94bir,i94visa,biryear,gender,airline,admnum,fltno,visatype
0,5748517,2016,4,LOS,2016-04-30,CA,2016-05-08,40,1,1976,F,QF,2147483647,00011,B1
1,5748518,2016,4,LOS,2016-04-30,NV,2016-05-17,32,1,1984,F,VA,2147483647,00007,B1
2,5748519,2016,4,LOS,2016-04-30,WA,2016-05-08,29,1,1987,M,DL,2147483647,00040,B1
3,5748520,2016,4,LOS,2016-04-30,WA,2016-05-14,29,1,1987,F,DL,2147483647,00040,B1
4,5748521,2016,4,LOS,2016-04-30,WA,2016-05-14,28,1,1988,M,DL,2147483647,00040,B1

In [21]:
immigration_table.count()

3096313

In [22]:
immigration_table.write.partitionBy("i94yr", "i94mon").mode('overwrite').parquet(os.path.join(output_data, 'immigration'))

##### Airport Code Table

In [23]:
df_airport_new = df_airport_cleaned \
    .withColumn('latitude', split(df_airport_cleaned['coordinates'], ',').getItem(0)) \
    .withColumn('longitude', split(df_airport_cleaned['coordinates'], ',').getItem(1))

airport_table = df_airport_new.select(
    col("ident"),
    col("type"),
    col("name"),
    col("elevation_ft").cast("int"),
    col("continent"),
    col("iso_country"),
    col("iso_region"),
    col("municipality"),
    col("gps_code"),
    col("iata_code"),
    col("local_code"),
    col("latitude").cast("float"),
    col("longitude").cast("float")
)
airport_table.limit(5).toPandas().head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,latitude,longitude
0,KBGM,medium_airport,Greater Binghamton/Edwin A Link field,1636,NA,US,US-NY,Binghamton,KBGM,BGM,BGM,-75.979797,42.208698
1,2TE0,small_airport,Eagle Air Park,15,NA,US,US-TX,Brazoria,2TE0,BZT,2TE0,-95.579697,28.982201
2,KCNU,medium_airport,Chanute Martin Johnson Airport,1002,NA,US,US-KS,Chanute,KCNU,CNU,CNU,-95.485100,37.668800
3,KCRS,small_airport,C David Campbell Field Corsicana Municipal Air...,449,NA,US,US-TX,Corsicana,KCRS,CRS,CRS,-96.400597,32.028099
4,KFMY,medium_airport,Page Field,17,NA,US,US-FL,Fort Myers,KFMY,FMY,FMY,-81.863297,26.586599

In [24]:
airport_table.count()

2014

In [25]:
airport_table.coalesce(1).write.mode('overwrite').parquet(os.path.join(output_data, 'airport'))

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

##### I94 Immigration Data

In [26]:
df_immigration_step4 = spark.read.parquet(os.path.join(output_data, 'immigration'))

In [27]:
df_immigration_step4.limit(5).toPandas().head()

,cicid,i94port,arrdate,i94addr,depdate,i94bir,i94visa,biryear,gender,airline,admnum,fltno,visatype,i94yr,i94mon
0,5748517,LOS,2016-04-30,CA,2016-05-08,40,1,1976,F,QF,2147483647,00011,B1,2016,4
1,3344386,NEW,2016-04-17,NJ,2016-04-25,67,2,1949,M,UA,2147483647,00865,WT,2016,4
2,5748518,LOS,2016-04-30,NV,2016-05-17,32,1,1984,F,VA,2147483647,00007,B1,2016,4
3,3344387,NEW,2016-04-17,NJ,2016-04-25,49,2,1967,F,UA,2147483647,00865,WT,2016,4
4,5748519,LOS,2016-04-30,WA,2016-05-08,29,1,1987,M,DL,2147483647,00040,B1,2016,4

In [28]:
df_immigration_step4.count()

3096313

##### Airport Code Table

In [29]:
df_airport_step4 = spark.read.parquet(os.path.join(output_data, 'airport'))

In [30]:
df_airport_step4.limit(5).toPandas().head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,latitude,longitude
0,KBGM,medium_airport,Greater Binghamton/Edwin A Link field,1636,NA,US,US-NY,Binghamton,KBGM,BGM,BGM,-75.979797,42.208698
1,2TE0,small_airport,Eagle Air Park,15,NA,US,US-TX,Brazoria,2TE0,BZT,2TE0,-95.579697,28.982201
2,KCNU,medium_airport,Chanute Martin Johnson Airport,1002,NA,US,US-KS,Chanute,KCNU,CNU,CNU,-95.485100,37.668800
3,KCRS,small_airport,C David Campbell Field Corsicana Municipal Air...,449,NA,US,US-TX,Corsicana,KCRS,CRS,CRS,-96.400597,32.028099
4,KFMY,medium_airport,Page Field,17,NA,US,US-FL,Fort Myers,KFMY,FMY,FMY,-81.863297,26.586599

In [31]:
df_airport_step4.count()

2014

##### Join

In [32]:
df_immigration_and_airport = df_immigration_step4.join(df_airport_step4, df_immigration_step4.i94port == df_airport_step4.iata_code, 'left_outer')

In [33]:
df_immigration_and_airport.limit(5).toPandas().head()

,cicid,i94port,arrdate,i94addr,depdate,i94bir,i94visa,biryear,gender,airline,...,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,latitude,longitude
0,5748517,LOS,2016-04-30,CA,2016-05-08,40,1,1976,F,QF,...,NaN,None,None,None,None,None,None,None,NaN,NaN
1,3344386,NEW,2016-04-17,NJ,2016-04-25,67,2,1949,M,UA,...,8.0,NA,US,US-LA,New Orleans,KNEW,NEW,NEW,-90.028297,30.0424
2,5748518,LOS,2016-04-30,NV,2016-05-17,32,1,1984,F,VA,...,NaN,None,None,None,None,None,None,None,NaN,NaN
3,3344387,NEW,2016-04-17,NJ,2016-04-25,49,2,1967,F,UA,...,8.0,NA,US,US-LA,New Orleans,KNEW,NEW,NEW,-90.028297,30.0424
4,5748519,LOS,2016-04-30,WA,2016-05-08,29,1,1987,M,DL,...,NaN,None,None,None,None,None,None,None,NaN,NaN

In [34]:
df_immigration_and_airport.show()

+-------+-------+----------+-------+----------+------+-------+-------+------+-------+----------+-----+--------+-----+------+-----+--------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------+---------+
|  cicid|i94port|   arrdate|i94addr|   depdate|i94bir|i94visa|biryear|gender|airline|    admnum|fltno|visatype|i94yr|i94mon|ident|          type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|latitude|longitude|
+-------+-------+----------+-------+----------+------+-------+-------+------+-------+----------+-----+--------+-----+------+-----+--------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------+---------+
|5748517|    LOS|2016-04-30|     CA|2016-05-08|    40|      1|   1976|     F|     QF|2147483647|00011|      B1| 2016|     4| null|          null|                null|        null|     null|       null|      null|        null|    null|     null|      null|    null|     null|
|3344386|    NEW|2016-04-17|     NJ|2016-04-25|    67|      2|   1949|     M|     UA|2147483647|00865|      WT| 2016|     4| KNEW|medium_airport|   Lakefront Airport|           8|       NA|         US|     US-LA| New Orleans|    KNEW|      NEW|       NEW|-90.0283|  30.0424|
|5748518|    LOS|2016-04-30|     NV|2016-05-17|    32|      1|   1984|     F|     VA|2147483647|00007|      B1| 2016|     4| null|          null|                null|        null|     null|       null|      null|        null|    null|     null|      null|    null|     null|
|3344387|    NEW|2016-04-17|     NJ|2016-04-25|    49|      2|   1967|     F|     UA|2147483647|00865|      WT| 2016|     4| KNEW|medium_airport|   Lakefront Airport|           8|       NA|         US|     US-LA| New Orleans|    KNEW|      NEW|       NEW|-90.0283|  30.0424|
|5748519|    LOS|2016-04-30|     WA|2016-05-08|    29|      1|   1987|     M|     DL|2147483647|00040|      B1| 2016|     4| null|          null|                null|        null|     null|       null|      null|        null|    null|     null|      null|    null|     null|
|3344388|    NEW|2016-04-17|     NY|2016-04-19|    23|      2|   1993|     M|     UA|2147483647|00865|      WT| 2016|     4| KNEW|medium_airport|   Lakefront Airport|           8|       NA|         US|     US-LA| New Orleans|    KNEW|      NEW|       NEW|-90.0283|  30.0424|
|5748520|    LOS|2016-04-30|     WA|2016-05-14|    29|      1|   1987|     F|     DL|2147483647|00040|      B1| 2016|     4| null|          null|                null|        null|     null|       null|      null|        null|    null|     null|      null|    null|     null|
|3344389|    NEW|2016-04-17|     NY|2016-04-23|    30|      2|   1986|     M|     UA|2147483647|00865|      WT| 2016|     4| KNEW|medium_airport|   Lakefront Airport|           8|       NA|         US|     US-LA| New Orleans|    KNEW|      NEW|       NEW|-90.0283|  30.0424|
|5748521|    LOS|2016-04-30|     WA|2016-05-14|    28|      1|   1988|     M|     DL|2147483647|00040|      B1| 2016|     4| null|          null|                null|        null|     null|       null|      null|        null|    null|     null|      null|    null|     null|
|3344390|    NEW|2016-04-17|     NY|2016-04-23|    29|      2|   1987|     F|     UA|2147483647|00865|      WT| 2016|     4| KNEW|medium_airport|   Lakefront Airport|           8|       NA|         US|     US-LA| New Orleans|    KNEW|      NEW|       NEW|-90.0283|  30.0424|
|5748522|    HHW|2016-04-30|     HI|2016-05-05|    57|      2|   1959|     M|     NZ|2147483647|00010|      B2| 2016|     4| null|          null|                null|        null|     null|       null|      null|        null|    null|     null|      null|    null|     null|
|3344391|    NEW|2016-04-17|     NY|2016-04-24|    52|      2|   1964|     M|     UA|2147483647|00865|      WT| 2016|     4| KNEW|medium_airport|   Lakefront Airport|           8|       NA|         US|     US-LA| New Orleans|    KNEW|      NEW|       NEW|-90.0283|  30.0424|
|5748523|    HHW|2016-04-30|     HI|2016-05-12|    66|      2|   1950|     F|     NZ|2147483647|00010|      B2| 2016|     4| null|          null|                null|        null|     null|       null|      null|        null|    null|     null|      null|    null|     null|
|3344392|    NEW|2016-04-17|     NY|2016-04-24|    50|      2|   1966|     F|     UA|2147483647|00865|      WT| 2016|     4| KNEW|medium_airport|   Lakefront Airport|           8|       NA|         US|     US-LA| New Orleans|    KNEW|      NEW|       NEW|-90.0283|  30.0424|
|5748524|    HHW|2016-04-30|     HI|2016-05-12|    41|      2|   1975|     F|     NZ|2147483647|00010|      B2| 2016|     4| null|          null|                null|        null|     null|       null|      null|        null|    null|     null|      null|    null|     null|
|3344408|    NEW|2016-04-18|   null|2016-04-21|    45|      1|   1971|     M|     UA|2147483647|00148|      WB| 2016|     4| KNEW|medium_airport|   Lakefront Airport|           8|       NA|         US|     US-LA| New Orleans|    KNEW|      NEW|       NEW|-90.0283|  30.0424|
|5748525|    HOU|2016-04-30|     FL|2016-05-07|    27|      2|   1989|     M|     NZ|2147483647|00028|      B2| 2016|     4| KHOU| large_airport|William P Hobby A...|          46|       NA|         US|     US-TX|     Houston|    KHOU|      HOU|       HOU|-95.2789|  29.6454|
|3344409|    NEW|2016-04-18|   null|2016-04-27|    47|      1|   1969|     F|     OS|2147483647|00089|      WB| 2016|     4| KNEW|medium_airport|   Lakefront Airport|           8|       NA|         US|     US-LA| New Orleans|    KNEW|      NEW|       NEW|-90.0283|  30.0424|
|5748526|    LOS|2016-04-30|     CA|2016-05-07|    26|      2|   1990|     F|     NZ|2147483647|00002|      B2| 2016|     4| null|          null|                null|        null|     null|       null|      null|        null|    null|     null|      null|    null|     null|
|3344411|    NEW|2016-04-18|     AL|2016-04-28|    58|      1|   1958|     M|     UA|2147483647|00865|      WB| 2016|     4| KNEW|medium_airport|   Lakefront Airport|           8|       NA|         US|     US-LA| New Orleans|    KNEW|      NEW|       NEW|-90.0283|  30.0424|
+-------+-------+----------+-------+----------+------+-------+-------+------+-------+----------+-----+--------+-----+------+-----+--------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------+---------+
only showing top 20 rows

In [35]:
df_immigration_and_airport.count()

3096313

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

There are no duplicate keys.

In [36]:
df_immigration_and_airport.filter(df_immigration_and_airport['cicid'].isNull()).count()

0

I94 Immigration Data and the number of final data matches.

In [37]:
df_immigration_and_airport.count()

3096313

In [38]:
df_immigration_step4.count()

3096313

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

- cicid: This is the unique Identifier(I94 Immigration Data)
- i94port: 3 character code of destination city(I94 Immigration Data)
- arrdate: Arrival date of the departure(I94 Immigration Data)
- i94addr: State(I94 Immigration Data)
- depdate: Departure date(I94 Immigration Data)
- i94bir: Ages(I94 Immigration Data)
- i94visa: Reason for immigration(I94 Immigration Data)
- biryear: Birth year(I94 Immigration Data)
- gender: Gender(I94 Immigration Data)
- airline: Airline(I94 Immigration Data)
- admnum: Admission Number(I94 Immigration Data)
- fltno： Flight Number(I94 Immigration Data)
- visatype: Visa type(Student, Job, etc.)(I94 Immigration Data)
- i94yr: 4 digit year of the arrival(I94 Immigration Data)
- i94mon: Numeric month of the arrival(I94 Immigration Data)
- ident: The text identifier used in the OurAirports URL(Airport Code Table)
- type: The type of the airport(Airport Code Table)
- name: The official airport name, including "Airport", "Airstrip", etc.(Airport Code Table)
- elevation_ft: The airport elevation MSL in feet (not metres).(Airport Code Table)
- continent: The code for the continent where the airport is (primarily) located(Airport Code Table)
- iso_country: The two-character ISO 3166:1-alpha2 code for the country where the airport is (primarily) located(Airport Code Table)
- iso_region: An alphanumeric code for the high-level administrative subdivision of a country where the airport is primarily located(Airport Code Table)
- municipality: The primary municipality that the airport serves (when available)(Airport Code Table)
- gps_code: The code that an aviation GPS database (such as Jeppesen's or Garmin's) would normally use for the airport.(Airport Code Table)
- iata_code: The three-letter IATA code for the airport (if it has one).(Airport Code Table)
- local_code: The local country code for the airport, if different from the gps_code and iata_code fields (used mainly for US airports)(Airport Code Table)
- latitude: Latitude(Airport Code Table)
- longitude: Longitude(Airport Code Table)

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
　* Spark is used to process large amounts of data quickly.
* Propose how often the data should be updated and why.
 * I94 Immigration Data can be updated when new data is published.
 * The Airport Code Table needs to be updated when new airports are added.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
   -> Increase the number of nodes in SPARK to handle this.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
   -> Use a tool that allows for scheduled execution. For example, Apache Airflow.
 * The database needed to be accessed by 100+ people.
   -> Increase the number of nodes in SPARK to handle this.